{% assign cms = section.settings %}

<header
  id="header"
  data-section-id="{{ section.id }}"
  class="w-full flex items-center fixed top-0 left-0 right-0 p-2 px-4"
>
  {% if cms.logo != blank %}
    {% render 'image', image: cms.logo, class: 'object-cover h-[5rem]' %}
  {% endif %}

  <div class="flex gap-1">
    {% for link in linklists['main-menu'].links %}
      <a
        class="text-2xl"
        href="{{ link.url }}"
      >
        {{- link.title -}}
      </a>
    {% endfor %}
  </div>
  <a href="/search">
    {% render 'icon', variant: 'search' %}
  </a>
</header>

{% schema %}
{
  "name": "Section - Header IWCI",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    }
  ],
  "blocks": [
    {
      "name": "Mega Menu Link",
      "type": "dropdown_nav_item",
      "settings": [
        {
          "type": "header",
          "content": "Header menu content"
        },

        {
          "type": "link_list",
          "id": "menu",
          "label": "Mega Menu html"
        },

        {
          "type": "header",
          "content": "Header featured content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label"
        },
        {
          "type": "checkbox",
          "id": "activate_one_page_anchor",
          "label": "Activate one page anchor",
          "default": true,
          "info": "Si coché, le système d'ancre sera activé et l'url ci-dessous utilisée pour tous les navitems."
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "id": "placeholder",
          "type": "text",
          "label": "Placeholder",
          "default": "Rechercher une collection, un produit ..."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Section - Header IWCI"
    }
  ]
}
{% endschema %}
