{% assign cms = section.settings %}

<section
  id="section-search"
  class="w-full"
>
  <search-component
    data-section-id="{{ section.id }}"
    class="flex flex-col"
  >
      <div class="flex w-full items-center justify-center pb-16 lg:pb-32">
        {% comment %} Search Bar {% endcomment %}
        {% render 'input-search', placeholder: cms.placeholder %}
      </div>

    {% comment %} Predictive & Search Results {% endcomment %}
    {% render 'search-content' %} 

    {% comment %} Search no Result {% endcomment %}
    {% if search.performed and search.results.size == 0 %}
      <div class="flex w-full">
        <div class="flex w-full flex-col gap-6 items-center">
          {% if cms.no_result_title != blank %}
            <h3 class="font-light uppercase text-3xl">
              {{ cms.no_result_title }}
            </h3>
          {% endif %}
          {% if cms.no_result_text != blank %}
            <p class="font-normal text-xl">{{ cms.no_result_text }}</p>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </search-component>
</section>

{% schema %}
{
  "name": "Section - Search",

  "settings": [
    {
      "type": "header",
      "content": "Search Bar"
    },
    {
      "id": "placeholder",
      "type": "text",
      "label": "Placeholder",
      "default": "Rechercher une collection, un produit ..."
    },
    {
      "type": "header",
      "content": "Tags"
    },
    {
      "id": "tags_title",
      "type": "text",
      "label": "Title",
      "default": "Nos Collections"
    },
    {
      "id": "tags_collections",
      "type": "collection_list",
      "label": "Collection list",
      "info": "Liste des collections à proposer"
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "id": "image_desktop",
      "type": "image_picker",
      "label": "Image Desktop"
    },
    {
      "id": "image_mobile",
      "type": "image_picker",
      "label": "Image Mobile"
    },
    {
      "type": "header",
      "content": "Result"
    },
    {
      "id": "no_result_title",
      "type": "text",
      "label": "No Result Title",
      "default": "Aucun résultat"
    },
    {
      "id": "no_result_text",
      "type": "text",
      "label": "No Result Text",
      "default": "Désolé, nous n'avons trouvé aucun résultat pour votre recherche"
    },
    {
      "id": "no_result_collection_title",
      "type": "text",
      "label": "No Result Collection Title",
      "default": "Nos dernières nouveautés"
    },
    {
      "id": "no_result_collection",
      "type": "collection",
      "label": "No result collection"
    },
    {
      "id": "result_associated_collection",
      "type": "text",
      "label": "Associated Collection",
      "default": "Collections Associées"
    },
    {
      "id": "result_title",
      "type": "text",
      "label": "Result Title",
      "default": "Résultats"
    },
    {
      "id": "result_cta_label",
      "type": "text",
      "label": "CTA Label",
      "default": "Voir tous les résultats"
    },
    {
      "type": "header",
      "content": "Hotspots settings"
    },
    {
      "type": "select",
      "id": "position_image",
      "label": "First Image Position",
      "default": "right",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    }
  ],
  "blocks": [
    {
      "name": "Hotspot",
      "type": "hotspot",
      "settings": [
        {
          "type": "collection_list",
          "id": "collections",
          "label": "Collections",
          "info": "Select collections to display the tile on."
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Label"
        },
        {
          "type": "header",
          "content": "Product 1"
        },
        {
          "type": "product",
          "id": "product_1",
          "label": "Product 1"
        },
        {
          "type": "range",
          "id": "vertical_position_1",
          "label": "Vertical Position (Produit 1)",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "range",
          "id": "horizontal_position_1",
          "label": "Horizontal Position (Produit 1)",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "header",
          "content": "Product 2"
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "Product 2"
        },
        {
          "type": "range",
          "id": "vertical_position_2",
          "label": "Vertical Position (Produit 2)",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "range",
          "id": "horizontal_position_2",
          "label": "Horizontal Position (Produit 2)",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "header",
          "content": "Product 3"
        },
        {
          "type": "product",
          "id": "product_3",
          "label": "Product 3"
        },
        {
          "type": "range",
          "id": "vertical_position_3",
          "label": "Vertical Position (Produit 3)",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "range",
          "id": "horizontal_position_3",
          "label": "Horizontal Position (Produit 3)",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "header",
          "content": "Product 4"
        },
        {
          "type": "product",
          "id": "product_4",
          "label": "Product 4"
        },
        {
          "type": "range",
          "id": "vertical_position_4",
          "label": "Vertical Position (Produit 4)",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "range",
          "id": "horizontal_position_4",
          "label": "Horizontal Position (Produit 4)",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "header",
          "content": "Product 5"
        },
        {
          "type": "product",
          "id": "product_5",
          "label": "Product 5"
        },
        {
          "type": "range",
          "id": "vertical_position_5",
          "label": "Vertical Position (Produit 5)",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "range",
          "id": "horizontal_position_5",
          "label": "Horizontal Position (Produit 5)",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Section - Search"
    }
  ],
  "enabled_on": { "templates": ["search"] }
}
{% endschema %}
